# All dependencies
# You can recreate the env with pip install -r requirements.txt
# Need to update this manually with git freeze > requirements.txt

cachetools==4.2.4
certifi==2024.8.30
charset-normalizer==2.0.12
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.22.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.56.3
httplib2==0.22.0
idna==3.10
numpy==1.19.5
oauthlib==3.2.2
protobuf==3.19.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyparsing==3.1.4
requests==2.27.1
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
uritemplate==4.1.1
urllib3==1.26.20
